*{
padding: 0;
margin: 0;
}

/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*/
body {
	margin: 0px;
	padding: 0px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	text-align: center;


	background-color: #f2f2f2;
}

.main-navigation {
	position: relative;
	min-height: 56px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
    background-color: #ffffff;

}

.site-navigation {
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding-left: 46px;
	padding-right: 46px;
}

.inner-page {
	line-height: 21px;
}

.site-navigation a {
	font-weight: 700;
	text-decoration: none;
	color: black;
	vertical-align: middle;
}

.site-navigation li {
	width: 153px;
	list-style: none;
	padding-top: 15px;
}

.site-navigation a:focus,
.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation a:not([href]){
	color: #766357;
}

.right-side {
	text-align: right;
}

.main-header-logo {
	position: absolute;
	top: -1px;
	left: 50%;
	transform: translateX(-50%); 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.company-name {
	min-height: 510px;
	width: auto;

	background-color: #81b3d2;
	background-image: 
	url("../img/intro-mask.svg"),
	url("../img/background.jpg");
	background-size: contain, cover;
	background-repeat: no-repeat;
	background-position: bottom, center -56px;
}
.company-name img {
	display: block;
	margin: 0 auto;

	padding-top: 76px;
	padding-bottom: 79px;
}

.presentation,
.search-date,
.main-header {
	background-color: white;
}

.presentation {
	margin-top: -2px;
	min-height: 216px;
}

.company-title {
	margin: 0 auto;
	padding-top: 60px;
	padding-left: 300px;
	padding-right: 300px;
	width: 440px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}
.presentation p {
	padding-top: 27px;

	text-align: center;
}

/* Новый блок с флексами */

.features-wrap {
	display: flex;
	min-height: 259px;
  	text-align: center;

}
.features {
	display: block;

 	width: 400px;
 	margin: 0;
 	padding: 0;
}
.features-sublist {
  	display: flex;
 	min-width: 400px;
 	min-height: 330px;
}

.features b {
  	display: block;

  	padding: 47px 120px 23px;

  	font-size: 21px;
  	font-weight: bold;
  	line-height: 21px;
}

.blue {
  	background-color: #81b3d2;
}

.blue b {
  	color: #ffffff;
}

.features p {
  	margin: 0;

  	color: #ffffff;

  	line-height: 21px;
}

.features p:last-of-type {
  	margin: 0;
  	padding: 22px 60px 59px;

  	color: #ffffff;

  	line-height: 21px;
}

.gray {
  	background-color: #eeeeee;
}

.gray p {
  	color: #333333;
}

.gray p:last-of-type{
  	color: #333333;
}

.features-pic img {
  	margin: 0 auto;
}

.features-subitem {
	margin-top: -8px;
  	width: 400px;

  	text-align: center;

  	background-color: #ffffff;
}

.second-wrap {
	margin-top: -8px;
}

.third-wrap {
	margin-top: -8px;
}

.features-subitem b {
  	position: relative;

  	display: block;

  	padding: 161px 60px 22px;

  	font-size: 21px;
  	font-weight: bold;
  	line-height: 21px;
}

.features-subitem p {
  	display: block;

  	margin: 0;
  	padding: 2px 57px 40px;

  	color: #333333;

  	line-height: 21px;
}

.icon-1::before {
  	position: absolute;
  	top: 60px;
  	left: 50%;

  	width: 75px;
  	height: 72px;
  	margin: 0 auto;

  	content: "";
  	transform: translateX(-50%);

  	background-image: url("../img/icon-1.svg");
  	background-repeat: no-repeat;
}

.icon-2::before {
  	position: absolute;
  	top: 60px;
  	left: 50%;

  	width: 74px;
  	height: 70px;
  	margin: 0 auto;

  	content: "";
  	transform: translateX(-50%);

  	background-image: url("../img/icon-3.svg");
  	background-repeat: no-repeat;
}

.icon-3::before {
  	position: absolute;
  	top: 55px;
  	left: 50%;

  	width: 64px;
  	height: 76px;
  	margin: 0 auto;

  	content: "";
  	transform: translateX(-50%);

  	background-image: url("../img/icon-2.svg");
  	background-repeat: no-repeat;
}


.search-title {
	padding-top: 47px;
	padding-bottom: 24px;
	font-size: 30px;
	line-height: 36px;
}

.search-title + p {
	padding-bottom: 48px;
	line-height: 24px;
}

.search-button {
	width: 568px;
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #766357;

	font-size: 21px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.search-button:active {
	background-color: #503e33;
	color: #857871;
}

.search-button:focus,
.search-button:hover {
	background-color: #604e43;
}
.search-date {
	min-height: 290px;
}

.houses {
	list-style: none;
}
.map {
	margin-top: -1px;
}

.hotels-title{
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: black;
}
.hotels-title:hover,
.hotels-title:focus {
	color: #92bdd8;
}

.hotels-title:active {
	color: #b2b2b2;
}

.button {
	color: white;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.detail {
	background-color: #81b3d2;
}

.detail:focus,
.detail:hover {
	background-color: #669ec0;
}

.detail:active {
	background-color: #5496bd;
	color: #7aadcb;
}

.booking {
	background-color: #766357;
}

.booking:fovus,
.booking:hover {
	background-color: #604e43;
}

.booking:active {
	background-color: #503e33;
	color: #857871;
}
.visitsedona {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
}

.footer-social a {
	text-decoration: none;
	color: white;

}

.htmlacademy-tag {
	vertical-align: middle;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}


.htmlacademy-link {
	display: inline-block;
	width: 114px;
	height: 41px;
}

.footer-svg a:hover,
.footer-svg a:focus {
	fill: 81b3d2;
}
